.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon img {
  width: 130px;
}
.temperature {
  color: #fff;
  font-size: 7rem;
}
.temperature .smaller {
  font-size: 2rem;
  margin-left: -20px;
}
header.main h1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
}
header.main h1 .smaller {
  font-size: 2rem;
  color: #333;
}
