#root {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.loading {
  padding: 20px 40px;
}
.main-wrapper {
  padding: 2rem;
  border: 1px solid #919fa8;
  border-radius: 10px;
}
.main-wrapper.cloudy {
  background: linear-gradient(
    0deg,
    rgba(43, 53, 61, 0.7) 20%,
    rgba(87, 109, 130, 0.5) 100%
  );
}
.main-wrapper.sunny {
  background: linear-gradient(
    0deg,
    rgba(134, 183, 240, 0.5) 0%,
    rgba(213, 185, 27, 0.7) 100%
  );
}
.main-wrapper.partlySunny {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.3) 40%,
    rgba(4, 171, 205, 0.8) 100%
  );
}
.main-wrapper.stormy {
  background: linear-gradient(
    0deg,
    rgba(232, 130, 105, 0.5) 30%,
    rgba(73, 26, 50, 0.8) 100%
  );
}
.main-wrapper.rainy {
  background: linear-gradient(
    0deg,
    rgba(43, 43, 67, 0.5) 40%,
    rgba(0, 110, 255, 0.5) 100%
  );
}
.main-wrapper.snow {
  background: linear-gradient(
    0deg,
    rgba(220, 221, 222, 0.5) 30%,
    rgba(170, 191, 207, 0.8) 100%
  );
}
